name: Bob the Builder

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
env:
  PACKER_LOG: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: packer_cache/
        key: cache-${{ hashFiles('packer_cache/*') }}
        restore-keys: |
          cache-
    - name: Installing dependencies
      run: |
        sudo apt-get -y install packer qemu-system-x86
    - name: Build image ...
      # GitHub doesn't support kvm in actions yet because it runs on ds2
      # hence the loooooong boot_wait of 180 sec, due to only accel=tcg
      run: |
        packer fix packer.json |sed '/kvm/d' > host.json
        packer build -force host.json
    - uses: actions/upload-artifact@v2
      with:
        name: alpine-qemu-image
        path: images/*
