name: Bob the Builder

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
env:
  PACKER_LOG: 1

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: packer_cache/
        key: cache-${{ hashFiles('packer_cache/*') }}
        restore-keys: |
          cache-
    - name: Packer build
      uses: enr0s/packer-qemu-action@v1.0
      with:
        templateFile: 'packer.json'
        workingDir: '.'
