name: Bob the Builder

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: packer_cache/
        key: cache-${{ hashFiles(packer_cache/*) }}
        restore-keys: |
          cache-
    - name: Install dependencies ...
      run: |
        sudo apt-get -y install packer qemu-system-x86
    - name: Build image ...
      run: |
        packer build -force packer.json
    - uses: actions/upload-artifact@v2
      with:
        name: alpine-qemu-image
        path: images/*
