name: Bob the Builder

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
env:
  PACKER_LOG: 1
  IMAGE_NAME: alpine-qemu-image

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}"
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
  build:
    runs-on: ubuntu-20.04
    container:
      image: troglobit/alpine-qemu-image:main
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: packer_cache/
        key: cache-${{ hashFiles('packer_cache/*') }}
        restore-keys: |
          cache-
    - name: Install dependencies ...
      run: |
        sudo apt-get -y install packer qemu-system-x86 qemu-kvm
    - name: Build image ...
      run: |
        packer fix packer.json |sed '/kvm/d' > host.json
        packer build -force host.json
    - uses: actions/upload-artifact@v2
      with:
        name: alpine-qemu-image
        path: images/*
