name: Release General

on:
  push:
    tags:
      - 'v*'

jobs:
  create:
    name: Create GitHub release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: Create release ...
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Alpine Linux x86_64 Qemu Image v${{ github.ref }}
          draft: false
          prerelease: false
  build:
    name: Build and upload release artifacts
    needs: create
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: packer_cache/
          key: cache-${{ hashFiles('packer_cache/*') }}
          restore-keys: |
            cache-
      - name: Install dependencies ...
        run: |
          sudo apt-get -y install packer qemu-system-x86
      - name: Build image ...
        # GitHub doesn't support kvm in actions yet because it runs on ds2
        # hence the loooooong boot_wait of 180 sec, due to only accel=tcg
        run: |
          packer fix packer.json |sed '/kvm/d' > host.json
          packer build -force host.json
      - name: Upload release artifacts ...
        uses: skx/github-action-publish-binaries@release-0.15
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseId: ${{ needs.create.outputs.release_id }}
          args: images/*
